Tier Content/Tier 2A/IRM-Public-Convenience-2022-DEC-Public/Examples/IC-TDF/sampleStructured.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:smp="exampleStructuredPayload"
   targetNamespace="exampleStructuredPayload"
   elementFormDefault="qualified"
   attributeFormDefault="qualified">
   <xs:annotation>
      <xs:documentation>
         This is an example schema that will be used in the structured payload IC-TDF example
      </xs:documentation>
   </xs:annotation>
   <xs:element name="samplePayload" type="smp:payloadType">
      <xs:annotation>
         <xs:documentation>
            <xhtml:p xmlns:xhtml="http://www.w3.org/1999/xhtml">
               The root element of an example payload	
            </xhtml:p>
         </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="payloadType">
      <xs:sequence>
         <xs:element name="someInformation" type="xs:string" maxOccurs="unbounded"/>
         <xs:element name="moreInformation"
            type="smp:anotherElement"
            maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="sampleAttribute" use="required"/>
   </xs:complexType>
   <xs:complexType name="anotherElement">
      <xs:sequence>
         <xs:element name="informationElement" type="xs:string" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="sampleAttribute2" use="required"/>
   </xs:complexType>
</xs:schema>
